<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Book Flight" parallel="tests">
	<test name="2 Test Ticket">
		<parameter name="noOfPassengers" value="2" />
		<parameter name="expectedPrice" value="$1169 USD" />
		<classes>
			<class name="com.mercury.test.BookFlightTest" />
		</classes>
	</test>
	<test name="3 Test Ticket">
		<parameter name="noOfPassengers" value="3" />
		<parameter name="expectedPrice" value="$1753 USD" />
		<classes>
			<class name="com.mercury.test.BookFlightTest" />
		</classes>
	</test>
	<test name="4 Test Ticket">
		<parameter name="noOfPassengers" value="4" />
		<parameter name="expectedPrice" value="$2338 USD" />
		<classes>
			<class name="com.mercury.test.BookFlightTest" />
		</classes>
	</test>
</suite>